.backArrow
  font-size: 50px
  position: absolute
  top: 50%
  transform: translateY(-50%)
  left: 0

.title
  padding: 0 20px
  position: relative
  text-align: center
  margin-bottom: 30px